.navClicked {
  overflow: hidden;
  cursor: pointer;
  transform: translateX(-30%) scale(0.875);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  height: 100vh;
  background-color: white;
}
.navNotClicked {
  background-color: white;
}
